<div class="main">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-element">
      <label for="firstname">Firstname</label>
      <input 
        type="text"
        id="firstname" 
        name="firstname" 
        ngModel
        required>
    </div>
    <div class="form-element">
      <label for="lastname">Lastname</label>
      <input 
        type="text"
        id="lastname" 
        name="lastname" 
        ngModel
        required>
    </div>
    <div class="form-element">
      <label for="email">Email</label>
      <input 
        type="email"
        id="email" 
        name="email"
        required
        email
        ngModel>        
    </div> 
    <div class="form-element">
      <button [disabled]="!f.valid" type="submit" class="btn-small">Add</button>
    </div>
  </form>
</div>